@{
    ViewData["Title"] = "Login";
}

<div class="login-container">
    <div class="login-card">
        <div class="login-form">
            <h1>SIGN IN</h1>
            <form method="post" asp-action="Login">
                <input type="text" name="Username" placeholder="Username" required />
                <input type="password" name="Password" placeholder="Password" required />
                
                <button type="submit" class="login-btn">LET'S GO</button>
                <a href="/Auth/ForgetPassword" class="login-forgot-link">Forgot Password?</a>
            </form>
            @if (ViewBag.ErrorMessage != null)
            {
                <br>
                <p style="color:red;">@ViewBag.ErrorMessage</p>
            }
        </div>
        <div class="login-banner">
            <img src="~/images/login.png" alt="Login Banner" />
        </div>
    </div>
</div>